<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- Appenders -->
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p: %c - %m%n" />
		</layout>
	</appender>

	<appender name="appFileAppender" class="org.apache.log4j.FileAppender">
		<param name="File" value="D:/Logs/app.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-7p %d [%t] %c %x - %m%n" />
		</layout>
	</appender>
	<appender name="hibernateFileAppender" class="org.apache.log4j.FileAppender">
		<param name="File" value="D:/Logs/hibernate.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-7p %d [%t] %c %x - %m [%M] %n" />
		</layout>
	</appender>
	<appender name="hibernateDaoFileAppender" class="org.apache.log4j.FileAppender">
		<param name="File" value="D:/Logs/hibernateDao.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-7p %d [%t] %c %x - %m [%M] %n" />
		</layout>
	</appender>
	<appender name="controllersFileAppender" class="org.apache.log4j.FileAppender">
		<param name="File" value="D:/Logs/controllers.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-7p %d [%t] %c %x - %m%n" />
		</layout>
	</appender>

	<!-- Application Loggers-->
	<logger name="com.globallogic.springProj">
		<level value="info" />
		<appender-ref ref="appFileAppender" />
	</logger>

	<!-- 3rdparty Loggers  -->
	<logger name="org.springframework" additivity="false">
		<level value="INFO" />
		<appender-ref ref="appFileAppender" />
	</logger>

	<logger name="org.hibernate" additivity="false">

		<level value="INFO" />
		<appender-ref ref="hibernateFileAppender" />
	</logger>

	<logger name="com.globallogic.springProj.dao.hibernate" additivity="false">
		<level value="INFO" />
		<appender-ref ref="hibernateDaoFileAppender" />
	</logger>

	<logger name="com.globallogic.springProj.controllers" additivity="false">
		<level value="INFO" />
		<appender-ref ref="controllersFileAppender" />
	</logger>


	<!-- Root Logger -->
	<root>
		<priority value="INFO" />
		<appender-ref ref="console" />
		<appender-ref ref="appFileAppender" />
	</root>

</log4j:configuration>
